<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width=300 alt="yellow-master-chief-8" src="assets/yellowmasterchief8.jpg">
  <h2>Release: v1.1.4</h2>
</div>

<router-outlet></router-outlet>
